doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='js/archivos.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/main.css')
  body
    .container
      h2= data.sensor_id    
      .row
        .col-sm-3(style='float: right; left: -323px; margin-top: 65px; width: 50%;')
          .well.well-sm
            form(action='DateTest.html')
              label(for='FromDate') Ingresa Fecha:
              input#FromDate.date(type='date', name='FromDate', value='11/08/2012')
              hr
              input#btnSubmit.btn.btn-success(type='submit', name='btnSubmit', value='Buscar', style='margin-top: -8px; margin-left: 175px;')
        table.table.table-bordered.table-inverse(style='margin-top:30px;')
          thead
            tr
              th Timestamp
              th Valor
              th Link
          tbody
            for medicion in data.mediciones
              tr
                td= medicion.Day
                td= medicion.State
                td= medicion.DayStatisticLink0

        .col-sm-10(style='margin-top: 70px; margin-bottom: 28px; margin-left: 60px;')
            h2 Añadir Medicion     

        form(action='url', method='', style='margin-top:-53px;')
          .form-group
            label(for='', style='margin-top:210px;') Timestamp
            input.form-control(type='', id='', placeholder='')
          .form-group
            label(for='') Valor
            input.form-control(type='', id='', placeholder='')
          .form-group
            label(for='') Unidad
            input.form-control(type='', id='', placeholder='')
          .form-group
            label(for='') Descripcion
            input.form-control(type='', id='', placeholder='')
          .form-group
            label(for='') Sensor_ID
            input.form-control(type='', id='', placeholder='')
        .center-block(style=' text-align: center;')
            button.btn.btn-info(type='submit') Añadir Estacion
        