-var promm8 = JSON.stringify(data.prom8)
-var datos = JSON.stringify(data.mediciones)
-var promm12 = JSON.stringify(data.prom12)
-var dia = JSON.stringify(data.details)
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato|Open+Sans')
    script.
      data8 = JSON.parse("#{promm8}".replace(/&quot;/g,'"'));
      data12 = JSON.parse("#{promm12}".replace(/&quot;/g,'"'));
      datosMed = JSON.parse("#{datos}".replace(/&quot;/g,'"'));
      dias = JSON.parse("#{dia}");
      $(document).ready( function() {
        console.log(dias);
        if (dias){
            var options = {
                title: {
                  text: "Datos de las últimas 12  hs"
                },
                            animationEnabled: true,
                data: [
                {
                  type: "spline",
                  dataPoints: []
                }
                ]
              };
        for(i=0; i < datosMed.length; i++){
          var date = new Date(Date.parse(datosMed[i].At)+10800000);
          console.log(date);
          (options.data)[0].dataPoints.push({x:date, y:datosMed[i].State});
        }
        var chart = new CanvasJS.Chart("chart", options);
        chart.render();
              }
                  var now = new Date();
                  var month = (now.getMonth() + 1);               
                  var day = now.getDate();
                  if(month < 10) 
                      month = "0" + month;
                  if(day < 10) 
                      day = "0" + day;
                  var today = now.getFullYear() + "-" + month + "-" + day; 
                  $('#FromDate').attr("value", today);
              });
      buscarProm(1);
      function buscarProm(opc){
        if(opc=='1'){
            $('#valor').val(data8);
          }
        else{
            $('#valor').val(data12);
          }
      }
  body        
    .container
      h1= data.estacion_id.toUpperCase()
      h2= data.sensor_id
      #promedios
            label Promedios:
            select(onchange='buscarProm(this.options[this.selectedIndex].value)')
              option(value='1') Últimas 8 hs
              option(value='2') Últimas 12 hs
            input(type="text", disabled)#valor
      if (data.details)
        #chart
      .row
        if (data.details)
          button.btn.btn-info(type='button', onclick='getData("mediciones/'+data.sensor_id+'/'+data.estacion_id+'/?date='+data.fecha+'");')#atras Atras
        else if (data.fecha)
          if (data.details)
          button.btn.btn-info(type='button', onclick='getData("mediciones/'+data.sensor_id+'/'+data.estacion_id+'");')#atras Atras
        else
          button.btn.btn-info(type='button', onclick='getData("sensores/'+data.estacion_id+'");')#atras Atras
        .form-group(style='margin-top: 50px; margin-left:-90px;')
          label.col-sm-2.control-label(for='inputPassword', style='padding-top: 10px; padding-left: 115px; top: -20px; vertical-align: middle;') SENSOR
          .col-sm-10(style='top: -82px;')
            select(onchange='getData("mediciones/"+this.options[this.selectedIndex].value+"/'+data.estacion_id+'");', style='margin-bottom:0px;').form-control
              for sensor in data.sensores
                if data.sensor_id == sensor.Id
                  option(value=sensor.Id, selected)= sensor.Id
                else
                  option(value=sensor.Id)= sensor.Id
          .col-md-12        
            #selector
                form(onsubmit='return getData("mediciones/'+data.sensor_id+'/'+data.estacion_id+'/?date="+this.elements["date"].value);')
                  #fecha
                    label(for='FromDate') Ingresa Fecha:
                    input(type='date', name='date')#FromDate
                  hr
                  input#btnSubmit.btn.btn-success(type='submit',value='Buscar')
          .col-md-12  
            if(data.mediciones[0].Day)
                button#detalles(onclick='getData("mediciones/'+data.sensor_id+'/'+data.estacion_id+'/?date='+data.mediciones[0].Day.substring(0,10)+'&details=true");').btn.btn-success Detalles
            else
                button#detalles(onclick='getData("mediciones/'+data.sensor_id+'/'+data.estacion_id+'/?date='+data.mediciones[0].At.substring(0,10)+'&details=true");').btn.btn-success Detalles
            #contacts        
              table.table.table-bordered.table-inverse(style='margin-top:30px;')#tabla 
                thead 
                  tr
                    th Timestamp
                    th Valor
                    if(data.details)
                      th Borrar
                    else
                      th link
                tbody
                  for medicion in data.mediciones
                    tr
                      td
                        if(medicion.Day)
                          a(href="#", onclick='getData("mediciones/'+data.sensor_id+'/'+data.estacion_id+'/?date='+medicion.Day.substring(0,10)+'");')= medicion.Day
                        else
                          = medicion.At
                      td= medicion.State
                      if(data.details)
                        td
                          button.btn.btn-danger(onclick='') Borrar
                      else
                        td= medicion.DayStatisticLink